In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [46]:
df = pd.read_csv("plastics.csv")

In [47]:
df.head(10)

,country,year,parent_company,empty,hdpe,ldpe,o,pet,pp,ps,pvc,grand_total,num_events,volunteers
0,Argentina,2019,Grand Total,0.0,215.0,55.0,607.0,1376.0,281.0,116.0,18.0,2668.0,4,243.0
1,Argentina,2019,Unbranded,0.0,155.0,50.0,532.0,848.0,122.0,114.0,17.0,1838.0,4,243.0
2,Argentina,2019,The Coca-Cola Company,0.0,0.0,0.0,0.0,222.0,35.0,0.0,0.0,257.0,4,243.0
3,Argentina,2019,Secco,0.0,0.0,0.0,0.0,39.0,4.0,0.0,0.0,43.0,4,243.0
4,Argentina,2019,Doble Cola,0.0,0.0,0.0,0.0,38.0,0.0,0.0,0.0,38.0,4,243.0
5,Argentina,2019,Pritty,0.0,0.0,0.0,0.0,22.0,7.0,0.0,0.0,29.0,4,243.0
6,Argentina,2019,PepsiCo,0.0,0.0,0.0,0.0,21.0,6.0,0.0,0.0,27.0,4,243.0
7,Argentina,2019,Casoni,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0.0,26.0,4,243.0
8,Argentina,2019,Villa Del Sur - Levite,0.0,0.0,0.0,0.0,19.0,1.0,0.0,0.0,20.0,4,243.0
9,Argentina,2019,Manaos,0.0,0.0,0.0,0.0,14.0,4.0,0.0,0.0,18.0,4,243.0

In [48]:
df = df[df['country'] != 'EMPTY']
df = df[df['parent_company'] != 'Unbranded']
df = df[df['parent_company'] != 'Grand Total']
df.dropna(subset = ['parent_company'], inplace=True)
df = df.drop('empty', axis = 1)

In [38]:
df.head(100)

,country,year,parent_company,hdpe,ldpe,o,pet,pp,ps,pvc,grand_total,num_events,volunteers
0,Argentina,2019,Grand Total,215.0,55.0,607.0,1376.0,281.0,116.0,18.0,2668.0,4,243.0
1,Argentina,2019,Unbranded,155.0,50.0,532.0,848.0,122.0,114.0,17.0,1838.0,4,243.0
2,Argentina,2019,The Coca-Cola Company,0.0,0.0,0.0,222.0,35.0,0.0,0.0,257.0,4,243.0
3,Argentina,2019,Secco,0.0,0.0,0.0,39.0,4.0,0.0,0.0,43.0,4,243.0
4,Argentina,2019,Doble Cola,0.0,0.0,0.0,38.0,0.0,0.0,0.0,38.0,4,243.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Argentina,2019,Buss,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,4,243.0
96,Argentina,2019,Bubbaloo,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4,243.0
97,Argentina,2019,Rafting,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4,243.0
98,Argentina,2019,Baggio,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,4,243.0
99,Argentina,2019,Société Bic,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4,243.0

In [39]:
null_data = df.isnull().sum()
null_data = null_data[null_data > 0]  
percentage = (null_data / len(df)) * 100  

print("Columns with Null Values:")
print(null_data)
print("\nPercentage of Null Values:")
print(percentage)

Columns with Null Values:
hdpe           1646
ldpe           2077
o               267
pet             214
pp             1496
ps             1972
pvc            4328
grand_total      14
volunteers      106
dtype: int64

Percentage of Null Values:
hdpe           13.736126
ldpe           17.332888
o               2.228157
pet             1.785863
pp             12.484353
ps             16.456647
pvc            36.117834
grand_total     0.116832
volunteers      0.884586
dtype: float64

In [40]:
columns = ['hdpe', 'ldpe', 'o', 'pet', 'pp', 'ps', 'pvc', 'grand_total', 'volunteers']

for col in columns:
    mean_value = df[col].mean()
    df[col].fillna(value=mean_value, inplace=True)

print(df.isnull().sum())

country           0
year              0
parent_company    0
hdpe              0
ldpe              0
o                 0
pet               0
pp                0
ps                0
pvc               0
grand_total       0
num_events        0
volunteers        0
dtype: int64

/var/folders/sl/0zgpqcp90hb6b9wk3l2sh6mr0000gn/T/ipykernel_90086/4026106535.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value=mean_value, inplace=True)

In [43]:
df.info

<bound method DataFrame.info of          country  year         parent_company   hdpe  ldpe      o     pet  \
0      Argentina  2019            Grand Total  215.0  55.0  607.0  1376.0
1      Argentina  2019              Unbranded  155.0  50.0  532.0   848.0
2      Argentina  2019  The Coca-Cola Company    0.0   0.0    0.0   222.0
3      Argentina  2019                  Secco    0.0   0.0    0.0    39.0
4      Argentina  2019             Doble Cola    0.0   0.0    0.0    38.0
...          ...   ...                    ...    ...   ...    ...     ...
13375    Vietnam  2020               Vinamilk    0.0   0.0   91.0     1.0
13376    Vietnam  2020           VINH HAO CO.    0.0   0.0    0.0     4.0
13377    Vietnam  2020                  Vital    0.0   0.0    0.0     4.0
13378    Vietnam  2020               VM Group    2.0   0.0    0.0     0.0
13379    Vietnam  2020                 Yakult    0.0   0.0    0.0     0.0

          pp     ps   pvc  grand_total  num_events  volunteers
0      281.0  116.0  18.0       2668.0           4       243.0
1      122.0  114.0  17.0       1838.0           4       243.0
2       35.0    0.0   0.0        257.0           4       243.0
3        4.0    0.0   0.0         43.0           4       243.0
4        0.0    0.0   0.0         38.0           4       243.0
...      ...    ...   ...          ...         ...         ...
13375    0.0    0.0   0.0         92.0           6        27.0
13376    0.0    0.0   0.0          4.0           6        27.0
13377    0.0    0.0   0.0          4.0           6        27.0
13378    0.0    0.0   0.0          2.0           6        27.0
13379    2.0    0.0   0.0          2.0           6        27.0

[11983 rows x 13 columns]>

In [45]:
df.columns

Index(['country', 'year', 'parent_company', 'hdpe', 'ldpe', 'o', 'pet', 'pp',
       'ps', 'pvc', 'grand_total', 'num_events', 'volunteers'],
      dtype='object')

In [49]:
df.to_csv('/Users/robintran/Documents/DS1/cleaned_data.csv', index=False)